@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.green-color {
  color: #60a056;
}

/* -------- HERO SECTION -------- */
/* ------------------------------ */

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../immagini/hero-image.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 68px;
}
.hero-section div {
  position: absolute;
  top: 46%;
  left: 50%;
  width: 835px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-section h1 {
  font-family: montserrat;
  color: white;
  font-size: 60px;
}

/* -------- INFO SECTION -------- */
/* ------------------------------ */

.index-info {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  margin-bottom: 60px;
}
.index-info.inverted {
  flex-direction: row-reverse;
}
.left-info-section {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.left-info-section.inverted {
  margin-right: 0;
}
.left-info-section > img {
  width: 100%;
  max-width: 350px;
}
.right-info-section {
  width: 55%;
}
.right-info-section.inverted {
  margin-right: 40px;
}
.right-info-section > h1 {
  color: var(--title-color);
  margin-bottom: 20px;
}
.right-info-section > p {
  color: var(--paragraph-color);
  font-size: calc(min(max(16px, 1.8vw), 20px));
  margin-bottom: 5px;
}

/* --------- RESPONSIVE --------- */
/* ------------------------------ */

@media screen and (max-width: 1023px) {
  .hero-section div {
    width: 628px;
  }
  .hero-section h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 750px) {
  .hero-section div {
    width: 446px;
  }
  .hero-section h1 {
    font-size: 32px;
  }
  .index-info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
  }
  .index-info.inverted {
    flex-direction: column;
  }
  .left-info-section {
    margin-left: auto;
    margin-right: auto;
  }
  .left-info-section.inverted {
    margin-left: auto;
    margin-right: auto;
  }
  .left-info-section > img {
    margin-bottom: 40px;
    margin-left: 0;
    width: 350px;
  }
  .right-info-section {
    width: 100%;
  }
  .right-info-section.inverted {
    margin-right: 0;
  }
  .right-info-section > h1 {
    font-size: calc(min(max(22px, 3.4vw), 25px));
  }
  .right-info-section > p {
    font-size: calc(min(max(16px, 3.4vw), 18px));
  }
}

@media screen and (max-width: 600px) {
  .hero-section div {
    width: 352px;
    top: 48%;
  }
  .hero-section h1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 400px) {
  .hero-section div {
    width: 352px;
  }
  .hero-section h1 {
    font-size: 38px;
  }
}
